# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/Paulscode SoundSystem CodecIBXM License.txt
/README.txt
/CREDITS-fml.txt
/LICENSE-new.txt
/MinecraftForge-Credits.txt
/Paulscode IBXM Library License.txt
/forge-1.12.2-14.23.4.2705-changelog.txt
/forge-1.12.2-14.23.4.2705-mdk.zip
/gradle.properties
/src-copy/
LICENSE.txt
LICENSE-Paulscode SoundSystem CodecIBXM.txt
LICENSE-Paulscode IBXM Library.txt
forge-1.12.2-14.23.5.2768-changelog.txt
CREDITS.txt
